<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Student Registration Form</title>

</head>
<body>
<h3> Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}"/>
    <br>
    Last name: <input type="text" th:field="*{lastName}"/>
    <br>
    Country:
    <select th:field="*{country}">
        <option th:value="BD">Bangladesh</option>
        <option th:value="USA">USA</option>
        <option th:value="UK">UK</option>
        <option th:value="Australia">Australia</option>
    </select>


    <br></br>
    Favorite Language:
    <input type="checkbox" th:field="*{favoriteLanguage}" value="Java"> Java</input>
    <input type="checkbox" th:field="*{favoriteLanguage}" value="Python"> Python</input>
    <input type="checkbox" th:field="*{favoriteLanguage}" value="C++"> C++</input>

    <br></br>

    Favourite Operating System:
    <input type="checkbox" th:field="*{favoriteOperatingSystem}" th:value="Windows"> Windows</input>
    <input type="checkbox" th:field="*{favoriteOperatingSystem}" th:value="Mac"> Mac</input>
    <input type="checkbox" th:field="*{favoriteOperatingSystem}" th:value="Linux"> Linux</input>

    <br></br>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>